html {
	height: 100dvh;
}

body {
	background: radial-gradient(ellipse at center, #bd9f35 0%,#000000 100%);
}

div {
	display: flex;
	height: 100dvh;
	align-items: center;
	justify-content: center;
}

h1 {
    background: linear-gradient(90deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07); /* Aplica o gradiente */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-size: 15dvw;
    text-align: center;
	margin: 0;
}

h1::after {
    background: none;
    content: attr(data-heading) / "";
    left: 0;
	top: 0;
    z-index: -1;
    position: absolute;
    text-shadow: 
		-1px 0 1px #c6bb9f, 
		0 1px 1px #c6bb9f, 
		5px 5px 10px rgba(0, 0, 0, 0.4),
		-5px -5px 10px rgba(0, 0, 0, 0.4);
}