html {
    background-color: #1d1c1c;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/styles/img/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    padding: 20px;
    width: 100%;
}

h1 {
    font-size: 7vw;
    background: linear-gradient(0deg, #a56007, #b47e11, #fef1a2, #bc881b, #a54e07);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 0.2%;
}
p{
    color: #665716;
    font-size: 2dvw;
    margin: 5% 3%;
    text-align: center;
}

h2 {
    margin: 1%;
    display: flex;
    justify-content: flex-end;
    margin-top: auto; 
    font-size: 2dvw;
    background: linear-gradient(0deg, #a56007, #b47e11, #fef1a2, #bc881b, #a54e07);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    gap: 2dvw; 
    align-content: flex-start; 
    margin: 0 2%; 
    max-width: 100%; 
}

.card {
    width: 20vw; 
    aspect-ratio: 1 / 1.414;
    margin: 1%; 
    box-shadow: 0px 0px 10px 1px #8f8101ee;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    border-radius: 5px;
    overflow: hidden;
    
}

.project {
    background-color: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project::before {
    position: absolute;
    content: '';
    width: 160px;
    height: 160%;
    background: linear-gradient(90deg, transparent,  #a54e07,
    #b47e11,
    #fef1a2,
    #bc881b,
    #a54e07, transparent);
    animation: rotation_481 5000ms infinite linear;
}

.project-content {
    position: absolute;
    width: 98%;
    height: 98%;
    background-color: #181717;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
	margin: 2%;
}


@keyframes rotation_481 {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

button {
    width: fit-content;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: auto; 
	padding: 1vw;
    border-radius: 0.3em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
      inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
      inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    background-image: linear-gradient(
      160deg,
      #a54e07,
      #b47e11,
      #fef1a2,
      #bc881b,
      #a54e07
    );
    border: 1px solid #a55d07;
    color: rgb(120, 50, 5);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-position: center;
}

.buttons:focus,
.buttons:hover {
    background-size: 150% 150%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
      inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    border: 1px solid rgba(165, 93, 7, 0.6);
    color: rgba(120, 50, 5, 0.8);

}
.buttons-container{
    justify-self: center;
    background-color: #1d1c1c;
}

.doces{
    background-image: url(/styles/img/menudoces.jpg);
background-size: 100%;
background-repeat: no-repeat;
}