
ENTRE EM CONTATO DIRETO PELO: https://wa.me/5511972230817?text=Olá,%20gostaria%20de%20entrar%20em%20contato!

*********************************************************************
*██╗    ██╗██╗  ██╗ █████╗ ████████╗███████╗ █████╗ ██████╗ ██████╗ *
*██║    ██║██║  ██║██╔══██╗╚══██╔══╝██╔════╝██╔══██╗██╔══██╗██╔══██╗*
*██║ █╗ ██║███████║███████║   ██║   ███████╗███████║██████╔╝██████╔╝*
*██║███╗██║██╔══██║██╔══██║   ██║   ╚════██║██╔══██║██╔═══╝ ██╔═══╝ *
*╚███╔███╔╝██║  ██║██║  ██║   ██║   ███████║██║  ██║██║     ██║     *
* ╚══╝╚══╝ ╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═╝  ╚═╝╚═╝     ╚═╝     *
*********************************************************************
*************************************************************************************
* ██╗ ██╗ █████╗ ███████╗██████╗ ██████╗ ██████╗        ██████╗  █████╗  ██╗███████╗*
*███║███║██╔══██╗╚════██║╚════██╗╚════██╗╚════██╗      ██╔═████╗██╔══██╗███║╚════██║*
*╚██║╚██║╚██████║    ██╔╝ █████╔╝ █████╔╝ █████╔╝█████╗██║██╔██║╚█████╔╝╚██║    ██╔╝*
* ██║ ██║ ╚═══██║   ██╔╝ ██╔═══╝ ██╔═══╝  ╚═══██╗╚════╝████╔╝██║██╔══██╗ ██║   ██╔╝ *
* ██║ ██║ █████╔╝   ██║  ███████╗███████╗██████╔╝      ╚██████╔╝╚█████╔╝ ██║   ██║  *
* ╚═╝ ╚═╝ ╚════╝    ╚═╝  ╚══════╝╚══════╝╚═════╝        ╚═════╝  ╚════╝  ╚═╝   ╚═╝  *
*************************************************************************************

html, body {
    height: 100%; 
    margin: 0; 
}

html {
    background-image: url(/styles/img/bg.jpg);
    background-size: 100% 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    background-color: black;
}

body {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;    
    margin: 0 auto; 
    margin-top: 20dvh;
    overflow-y: auto; 
    height: 58dvh;
    width: 60dvw;
    max-height: 58dvh; 
    
    padding: 10px;
}

h1 {
    text-align: center;
    
    
}
h1,h2,p{
    background: linear-gradient(0deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sobre-mim {
    height: 80dvh; 
    max-height: 600px; 
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch; 
    padding: 2dvh 3dvw; 
    position: relative; 
}


#sobre-mim::-webkit-scrollbar {
    width: 1.5dvw; 
    height: 1.5dvh;
}

#sobre-mim::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.3); 
    border-radius: 5px;
}

#sobre-mim::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.5); 
}


hr {
    position: relative;
    margin: 2dvh 0;
    max-width: 90dvw;
    height: 0.5dvh;
    background: transparent;
    border: none;
    margin: 0 auto;
}

hr::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg, 
        #a54e07, 
        #b47e11, 
        #fef1a2, 
        #bc881b, 
        #a54e07
    );
    mask: linear-gradient(90deg, #000 50%, transparent 50%) repeat-x;
    mask-size: 10px 100%; 
}
