/* 
ENTRE EM CONTATO DIRETO PELO: https://wa.me/5511972230817?text=Olá,%20gostaria%20de%20entrar%20em%20contato!

*********************************************************************
*██╗    ██╗██╗  ██╗ █████╗ ████████╗███████╗ █████╗ ██████╗ ██████╗ *
*██║    ██║██║  ██║██╔══██╗╚══██╔══╝██╔════╝██╔══██╗██╔══██╗██╔══██╗*
*██║ █╗ ██║███████║███████║   ██║   ███████╗███████║██████╔╝██████╔╝*
*██║███╗██║██╔══██║██╔══██║   ██║   ╚════██║██╔══██║██╔═══╝ ██╔═══╝ *
*╚███╔███╔╝██║  ██║██║  ██║   ██║   ███████║██║  ██║██║     ██║     *
* ╚══╝╚══╝ ╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═╝  ╚═╝╚═╝     ╚═╝     *
*********************************************************************
*************************************************************************************
* ██╗ ██╗ █████╗ ███████╗██████╗ ██████╗ ██████╗        ██████╗  █████╗  ██╗███████╗*
*███║███║██╔══██╗╚════██║╚════██╗╚════██╗╚════██╗      ██╔═████╗██╔══██╗███║╚════██║*
*╚██║╚██║╚██████║    ██╔╝ █████╔╝ █████╔╝ █████╔╝█████╗██║██╔██║╚█████╔╝╚██║    ██╔╝*
* ██║ ██║ ╚═══██║   ██╔╝ ██╔═══╝ ██╔═══╝  ╚═══██╗╚════╝████╔╝██║██╔══██╗ ██║   ██╔╝ *
* ██║ ██║ █████╔╝   ██║  ███████╗███████╗██████╔╝      ╚██████╔╝╚█████╔╝ ██║   ██║  *
* ╚═╝ ╚═╝ ╚════╝    ╚═╝  ╚══════╝╚══════╝╚═════╝        ╚═════╝  ╚════╝  ╚═╝   ╚═╝  *
************************************************************************************* */

* {
  margin: 0;
  padding: 0;
  background-color: #050303;
}

hr {
  margin: 0.3dvw;
  height: 0.3dvw;
  border: none;
  background: linear-gradient(90deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
}

.headerdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#name-svg {
  width: 100%;
  height: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.gradient-text {
  font-family: "Great Vibes", cursive;
  font-size: 500%;
  fill: url(#fill-gradient); 
  stroke: none; 
  text-anchor: middle;
}

@keyframes writing {
  from {
    stroke-dashoffset: 900; 
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes gradient-animation {
  0% {
    stop-color: #a54e07;
  }
  25% {
    stop-color: #b47e11;
  }
  50% {
    stop-color: #fef1a2;
  }
  75% {
    stop-color: #bc881b;
  }
  100% {
    stop-color: #a54e07;
  }
}

#stop1, #stop2, #stop3, #stop4, #stop5 {
  animation: gradient-animation 3s infinite;
}

h2 {
  text-align: center;
  background: linear-gradient(0deg, #a56007, #b47e11, #fef1a2, #bc881b, #a54e07);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3dvw;
  margin: 2%;
}

.nav-class {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1dvw;
  padding: 1dvw;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.1dvw;
  border-radius: 5px;
  text-decoration: none;
  justify-content: center;
  font-size: 2dvw;
  text-align: center;
}

.nav-link img {
  background-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7dvw;
  height: auto;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.nav-link:hover {
  background-color: rgba(255, 217, 0, 0.486);
}

.nav-class {
  flex-direction: row;
  gap: 0.1dvw;
  flex-wrap: nowrap;
}

a {
  color: rgba(255, 217, 0, 0.55);
  text-decoration: none;
}

a:visited {
  color: rgb(150, 128, 4)
}

a:active {
  color: rgb(255, 217, 0)
}
