html {
  background-color: black;
  min-width: max-content;
}

.header {
  z-index: 100;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;  
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

hr {
  height: 2px; /* Define a altura da linha */
  border: none; /* Remove a borda padrão */
  background: linear-gradient(90deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07); /* Aplica o gradiente */
}

.header-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-content img {
  width: 100%;
  height: auto;
  justify-content: center;
}
.headerdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.logo {
  display: flex;
  background-color: black;
  width: 100%; 
  height: auto;
  max-width: 500px;
  min-width: none;
  justify-content: center;

}

h1 {
  text-align: center;
  font-size: 4dvw;
  background: linear-gradient(0deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        height: fit-content;
        
}


.nav-class {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1dvw;
  width: auto; 
  padding: 1dvw;
  margin: 2%;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 217, 0, 0.55);
  padding: 5px;
  border-radius: 5px;
  text-decoration: none; 
  justify-content: center;
}

.nav-link img {
  background-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50dvw;
  height: 50dvh;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.nav-link:hover {
  background-color: rgba(255, 217, 0, 0.26);
  

}

  .nav-class {
    flex-direction: row;
    gap: 10px;
    flex-wrap: nowrap;
  }

  .nav-link img {
    width: 45px;
    height: 45px;
  }

a {
  color: rgba(255, 217, 0, 0.55); 
  text-decoration: none;
}


a:visited {
  color: rgb(150, 128, 4)  
}


a:active {
  color: rgb(255, 217, 0)
}